{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset = "utf-8" />
		<title>Hello!</title>

		<link rel="stylesheet", href="{% static 'home/styles.css' %}">
    <style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
    text-align:center;
    display:block;
}
</style> 

	</head>
	<body style="background-color:green;">
    <h1>Storm Alert</h1>
    <p style="color:purple;text-align:center;" >Providing <mark>assistance</mark> to those impacted by Storms</p>

    <img src="{% static 'home/tornado.jpg'%}" alt="Tornado" width="300" style="text-align:center;">

    <h4 style="text-align:center;">To access assistance complete this form</h4>
    
    <a href="https://hackathon3.deveshaggarwal1.repl.co/form/form/" style="margin:auto">Click Here for Form</a>

	</body>
</html>