<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Form</title>
	</head>
	<body>
		{% if response == 0 %}
			<p>content if user inputs 0</p>
		{% elif response < 4 %}
			<p>content if user inputs 1-3</p>
		{% elif response == 4 %}
			<p>content if user inputs 4</p>
		{% elif response == 5 %}
			<p>content if user inputs 5</p>
		{% elif response == 6 %}
			<p>content if user inputs 6</p>
		{% elif response == 7 %}
			<p>content if user inputs 7</p>
		{% elif response == 8 %}
			<p>content if user inputs 8</p>
		{% elif response == 9 %}
			<p>content if user inputs 9</p>
		{% elif response == 10 %}
			<p>content if user inputs 10</p>
		{% endif %} 
	</body>
</html>